@css-prefix: my;
@theme-color: #a565ff;
@btn-height: .94rem;
@btn-margin-top: 0;
@btn-font-size: .31rem;
@cell-box-margin-bottom: .25rem;
@text-gray: #a5a5a5;
@gray-font-size: .26rem;
@theme-padding: .24rem;
@common-border-color: #d3d3d3;
@theme-font-family: "微软雅黑";
@body-background-color: #f5f5f5;